<!DOCTYPE html>
<html>
<head>
  <title>b</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script type="text/javascript" src="http://apis.google.com/js/plusone.js">
  {lang: 'ja'}
  </script>
</head>
<body>

<div id="header">
</div>
<h2 id="title_name"><%= link_to 'blog.kksg.net', index_path %></h2>
<div id="menu">
<ul>
<li><%=link_to 'about', "#"%></li>
<li><%=link_to 'archive', "#"%></li>
</ul>
</div>

<div id="left_side">
</div>

<div id="container">
<div id="main">
<%= yield %>
</div>
</div>

<div id="footer">
</div>

</body>
</html>
